<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="besafe.codingTest.repository.mybatis.CompanyMapper">
    <select id="findByNumOfSale" parameterType="int" resultType="java.util.Map">
        SELECT cId, profile, name, GPA, numOfSales, info
        FROM Company
        WHERE cDate >= DATE_SUB(CURDATE(), INTERVAL 10 DAY)
        ORDER BY numOfSales DESC
            LIMIT #{offset}, 20
    </select>
</mapper>