<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="besafe.codingTest.repository.mybatis.PurchaseMapper">
    <select id="existsContractForProduct" resultType="boolean" parameterType="map">
        SELECT COUNT(*) > 0
        FROM Purchase
        WHERE pId = #{pId}
        AND cUser IS NULL
    </select>
</mapper>